<section id="dashboard">
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                Total Drives <span class="number">{{totalDriveCount}}</span>
            </div>
        </div>
        <div class="col-4">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                Total Students <span class="number">{{totalStudentCount}}</span>
            </div>
        </div>
        <div class="col-4">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">Total Shortlisted
                <span class="number">{{totalStudentShortlisted}}</span>
            </div>
        </div>
       
    </div>
    <div class="row">
        <div class="col-4">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">Applied Students
                <span class="number">{{totalStudentApplied}}</span>
            </div>
        </div>
        <div class="col-4">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">Total Placed
                <span class="number">{{totalPlacementCount}}</span>
            </div>
        </div>
        <div class="col-4">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">Rejected Students
                <span class="number">{{totalRejectedStudents}}</span>
            </div>
        </div>
       
    </div>
</div>
</section>